<form id="form1" action="/" onSubmit="return validate();" method="post">
	
	<table>
		<tbody>
			<tr>
				<td class="right;"><p>Name:</p></td>
				<td><input type="text" name="username" maxlength="20;"></td>
			</tr>
			
			<tr>
				<td class="right"><p>Title:</p></td>
				<td><input type="text" name="title" maxlength="20"></td>
			</tr>
		</tbody>
	</table>
	
	<textarea rows="4" columns="400" name="body" maxlength="160" placeholder="Write Something"></textarea><br>
	<input type="submit" value="Submit">
	<input type="reset" value="Reset">
</form>
