<% layout('boilerplate') -%>

<div class="post">
	<h2> Test Post Please Ignore</h2>
	<p>
		Welcome. This website is still in construction, so for now heres some filler.<br>
		More to come.<br>
		-D	
	</p>
</div>

<% script('scripts/form.js', 'text/javascript') %>